.slider{
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 60px;
  background: #F5F5FA;
  border-radius: 12px;
}
.slider__photo {
  display:flex;
  justify-content: center;
  height: 500px;
  @include  cover ("../../images/Slider-Man.jpg");
}

.slider__info {
  padding: 30px;
  min-width: 255px;
}

.slider__introduction {
  margin-bottom:30px;
}

.slider__link {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  text-decoration: none;
  text-transform: uppercase;
  color:$SecondaryColor;
  font-weight: $BaseFontWeight;
  max-width: 100px;
  margin-bottom: 14px;
  @include font (14px,14px);
  &:hover {
    color: #F0145A;
  }
    svg {
      display: flex;
      margin-left: 4px;
 
     }
     &:hover svg path {
       stroke: #F0145A;
      }
  }


.slider__description {
  display: inline-block;
  @include background;
  min-width: 255px;
}

.slider__managername {
  display: inline-block;
  max-width: 300px;
  text-decoration-line: none;
  h4{
    @include font (16px,20px);
    font-weight: $BaseFontWeight;
    line-height: 20px;
    color: #B3B3BA;
    margin-bottom: 6px;
  }
  p {
    color: #B3B3BA;
    font-size: $baseFontSize;
    line-height: 22px;
    font-weight: $SecondaryFontWeight;
  }
}

.slider__mechanical{
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 60px;
}
.slider__buttom{
  width: 16px;
  height: 16px;
  background: #24A3FF;
  opacity: 0.2;
  border-radius: 10px;
  border: none;
  margin-right: 15px;
  &:nth-child(1){
    background-color:#24A3FF;
    width: 20px;
    height: 20px;
    opacity: 100;
  }
  &:last-child {
    margin: 0px;
  }
}