$SmallFontSize: 12px;
$LessFontSize:14px;
$baseFontSize: 16px;

$NineteenthFontSize:19px;
$TwentiethFontSize:20px;
$SecondaryFontSize: 22px;
$TertiaryFontSize: 30px;
$QuaternaryFontSize:38px;

$BaseFontWeight: 700;
$SecondaryFontWeight:400;

$AccentColor:#F0145A;
$BaseColor:#FFFF;
$SecondaryColor:#24A3FF;
$TertiaryColor:#EDEDF7;
$QuaternaryColor:#B3B3BA;

