@media  (min-width:1440px) {
  .header__background {
    background-size: contain;
  }
  .slider__wrapper {
    padding-left: 180px;
    padding-right: 180px;
  }

  .services__block {
    padding: 43px 0px 43px 60px;
  }

  .slider__block {
    padding: 30px 0px 0px;
    margin-bottom: 30px;
  }
}
