@media (min-width:1920px) {
  .slider__wrapper {
    padding-left: 280px;
    padding-right: 280px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;
  }
  .services__block {
    padding: 58px 0px 58px 60px;
  }
  .sponsors__wrapper {
    padding: 0px 100px;
  }
}