@media (min-width:1024px) {

.sponsors__blocks {
  a {
    width:25%;
  } 
}
.slider {
flex-direction: row;
}
.slider__info {
  min-width: 504px;
  
}
.slider__photo {
  height: auto;
  min-width: 400px;
}
.publications {
  gap: 0px;
} 

.slider__description {
  font-size:$QuaternaryFontSize;
  font-weight: $BaseFontWeight;
}
.publications__card {

  width: calc(33.33% - 15px);
  &:last-child {
    width: calc(33.33% - 15px);;
  }
}
}