@media  (min-width:768px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
  .service__blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
  }
  .service__title {
    margin-bottom: 60px;
  }
  .secondary__title {
   font-size: $QuaternaryFontSize;
  }
  .service__block {
    width: calc(50% - 30px);
  }

  .sponsors__blocks {
    a {
      width:calc(33.33%);
      &:nth-child(n+7){
        display: inline-block;
      }
    }
  }

  .publications {
  }
  .publications__card {
    width: calc(50% - 15px);
  }
}