@media  (min-width:768px) {

  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }

  .header__wrapper{
    padding-left: 60px;
    padding-right: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .header__info {
    background-color:transparent;
    justify-content:flex-start;
    padding: 50px 0px 30px 0px;
  }

  .header__address {
    display: flex;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #B3B3BA;
    margin-left: 18px;
    &::before {
      position: absolute;
      content: "";
      text-align: center;
      width: 6px;
      height: 6px;
      left: -13px;
      bottom: 7px;
      background: #E6E6F0;
      border-radius:10px;
    }
  }
  
  .header__phone {
    display: flex;
    position: relative;
    margin-left: 18px;
    &::before {
      position: absolute;
      content: "";
      text-align: center;
      width: 6px;
      height: 6px;
      left: -13px;
      bottom: 7px;
      background: #E6E6F0;
      border-radius:10px;
    }
  }
  
  .header__facebook {
    display: flex;
    position: relative;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 18px;
    &::before {
      position: absolute;
      content: "";
      text-align: center;
      width: 6px;
      height: 6px;
      left: -13px;
      bottom: 10px;
      background: #E6E6F0;
      border-radius:10px;
    }
  }
  
  
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .header__nav {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding:0px 0px 0px 0px;
  }

  .logo {
    width: 130px;
    height: 60px;
    margin-bottom: 30px;
  }

  .header__list {
    display: flex;
    font-style: normal;
    list-style-type: none;
  }
  .header__link {
    display: flex;
    text-decoration: none;
    font-weight:$BaseFontWeight;
    font-size: baseFontSize;
    line-height: 20px;
    color:$BaseColor;
    margin-right: 15px;
    &:last-child {
      margin: 0px;
    }
  }
  .header__burger {
    display:none;
  }

  .slider__block {
    padding: 60px 0px 0px;
    margin-bottom: 60px;
  }

  .block__titleservices {
    color:$BaseColor;
    font-weight: $BaseFontWeight;
    font-size:$TertiaryFontSize;
    line-height: 37px;
    margin-bottom: 30px;
  }

  .service__blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
  }

  .service__title {
    margin-bottom: 60px;
  }

  .secondary__title {
   font-size: $QuaternaryFontSize;
  }

  .service__block {
    width: calc(50% - 30px);
  }

  .sponsors__blocks {
    a {
      width:calc(33.33%);
      &:nth-child(n+7){
        display: inline-block;
      }
    }
  }

  .publications__card {
    width: calc(50% - 15px);
  }

  .footer__block {
    display: grid;
    grid-template-columns: 50% 50%;
    &::before {
      position: absolute;
      content: "";
      display: inline-block;
      background-color: #E6E6F0;
      width: 100%;
      height: 2px;
      top:30px  
    }
    .footer__location {
      display: grid;
      grid-row: 1/2;
      justify-self: start;
      display: flex;
      text-align: center;
      flex-direction: row;
      gap: 15px;
    }
    .footer__connections {
      grid-column: 1/3;
      grid-row: 2/3;
      justify-self: start;
      display: flex;
      flex-direction: row;
      gap: 15px;
    }
    .footer__copyright {
      grid-column: 2/3;
      grid-row: 1/2;
      display: flex;
      justify-content: end;
    }
  }
}