@mixin font($fs,$lh) {
  font-size: $fs;
  @if ($fs > $lh) {
    line-height: $fs;
  } @else {
    line-height: $lh;
  }
}

@mixin cover ($url) {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("#{$url}");
}

@mixin px($size) {
  padding-left: $size;
  padding-right: $size;
}

@mixin py($size) {
  padding-top: $size;
  padding-bottom: $size;
}

@mixin pXY ($sizeX,$sixeY) {
  @include px ($sizeX);
  @include py ($sixeY);
}

@mixin background {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin backgroundtertiary {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}